@import '../variables';
$panelTitleBorderColor:             #e8e8e8;
$panelTitleBackgroundColor:         #fff;
$panelHeaderColor:                  #2a2d32;
$pColor:                            #8a8a8a;
$panelActiveBackgroundColor:        #f4b60d;
$panelActiveBorderColor:            rgba(0, 0, 0, 0);
