& {
    margin: 13px 0 0 9px;
    
    .testimonials__info {
        width: 257px;
    }

    .testimonials__header {
        margin: 22px 0 0 35px;
        font-size: 24px;
    }

    .testimonials__span {
        display: block;
    }

    .testimonials__triangle {
        display: none;
    }

    .testimonials__description {
        width: 178px;
        height: 170px;
        margin: 1px 0 0 38px;
    }

    .navi--testimonials.navi {
        margin: 24px 0 0 126px;
    }


}