& {
    margin: 13px 0 0 10px;
    float: initial;

    .testimonials__header {
        margin: 23px 0 0 38px;
        font-size: 30px;
    }

    .testimonials__info {
        width: 415px;
    }

    .testimonials__span {
        display: initial;
    }

    .testimonials__description {
        width: 350px;
        height: 250px;
        margin: 11px 0 0 38px;
    }

    .testimonials__triangle {
        display: none;
    }

    .navi--testimonials.navi {
        margin: 4px 0 0 189px;
    }

}