& {
    margin: 44px 0 0 8px;
    
    .testimonials__info {
        width: 310px;
    }

    .testimonials__header {
        font-size: 24px;
    }

    .testimonials__span {
        display: block;
        margin: -4px 0 0 1px;
    }

    .testimonials__description {
        width: 255px;
        height: 150px;
        overflow: hidden;
    }

    .navi--testimonials.navi {
        margin: 4px 0 0 144px;
    }
    
}