& {
    display: flex;
    align-items: center;
    width: px(640);
    height: px(109);
    background-color: #f96332;
    

    ul {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;

        a {
            display: flex;
            align-items: center;
            margin: 0 px(25);
            line-height: px(109);

            .back {
                height: px(35);
            }

            .comments {
                height: px(39);
            }

            .text {
                height: px(31);
            }

            .bookmarks {
                height: px(36);
            }

            .share {
                height: px(32);
            }

        }
    }
}
