* { 
    margin: 0;
    padding: 0;
    font-family: Tahoma,Verdana,Segoe,sans-serif;
    font-size: 9pt;   
}

body {
    background: url("../img/background.jpg") repeat-x;
}

.clearfix:after {
    content: '';
    clear: both;
    display: block;
}

.container {
    margin: 38px auto;
    width: 1000px;
    height: 988px;
    background-color: #fff;
    -webkit-box-shadow: 0px 2px 5px 0px rgba(50, 50, 50, 0.75);
    -moz-box-shadow: 0px 2px 5px 0px rgba(50, 50, 50, 0.75);
    box-shadow: 0px 2px 5px 0px rgba(50, 50, 50, 0.75);
}

.header {
    height: 175px;
    border-bottom: 1px solid black;
    /*padding: 11px 29px 0 29px;*/
}

.logo {
    position: absolute;
    margin: 11px 0 0 29px;
}

.slogan {
    display: block;
    position: absolute;
    margin: 111px 0 0 100px;
    color: #128aa7;
    font-size: 9pt;
    text-align: center;
}

.contacts {
    margin: 11px 32px;
    float: right;
    clear: left;
}

.contacts p {
    margin: 5px 0;
    color: #128aa7;
}

.contact {
    font-weight: bold;
}

.countries {
    margin: 11px 32px;
    clear: both;
    float: right;
}

.country {
	/*width: 42px;
	height: 42px;
	background: black;
	-moz-border-radius: 21px;
	-webkit-border-radius: 21px;
	border-radius: 21px;*/
    float: right;
    margin: 0 5px;
    text-align: center;
    cursor: pointer;
    /*background: url("../img/m_flag.png");*/
}

.country:hover>img {
    width: 42px;
	height: 42px;
	background: red;
	-moz-border-radius: 21px;
	-webkit-border-radius: 21px;
	border-radius: 21px;
}

.country a {
    display: block;
    color: #128aa7;
    font-size: 7pt;
    /*text-decoration: underline;*/
}

