& {
    margin: 91px 0 0 19px;
    
    .updates__post {
        margin: 0 0 19px;
    }

    .post__info {
        width: 217px;
        overflow: hidden;
    }

    .post__header {
        width: 215px;
        height: 21px;
        overflow: hidden;
    }

    .updates__more {
        margin: -4px 0 0 187px;
    }


}