& {
    width: 354px;
    margin: 75px 0 0 -15px;
    
    .updates__post {
        margin: 0 0 18px;
    }

    .post__image {
        margin: 0;
    }

    .post__info {
        width: 260px;
    }

    .post__description {
        height: 20px;
        overflow: hidden;
    }

    .updates__more {
        margin: -2px 0 0 239px;
    }
    
}