$transparent:                       rgba(0, 0, 0, 0);
$inputFocusedColor:                 rgb(238, 238, 238);
$shadowColor02:                     rgba(0, 0, 0, .2);
$shadowColor01:                     rgba(0, 0, 0, .1);
$checkBoxShadowColor:               rgba(0, 0, 0, .5);
$black:                             #000;
$white:                             #fff;
$buttonColor:                       #cc9a9a;
$buttonHoverColor:                  #af5b5e;
