$modalBackgroundColor:                  rgba(0, 0, 0, .8);
$modalBorderColor:                      #999;
$modalWrongColor:                       rgba(255, 0, 0, .8);
$modalRightColor:                       rgba(0, 255, 0, .8);
