& {
    
    margin: 60px 0 0 -2px;
    float: left;

    h1 {
        float: left;
        color: #fff;
        font-family: 'League Gothic', Arial, Helvetica, sans-serif;
        font-size: 48px;
        font-weight: 300;
        text-shadow: 0 2px rgba(0, 0, 0, .3);
        text-transform: uppercase;
    }

    span {
        background: -webkit-repeating-linear-gradient(#745083, #322539);
        color: #322539;
        text-shadow: 0 0 rgba(0, 0, 0, .3);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }

}