& {
    height: 486px;
    border-bottom: 1px solid #e6e6e6;
    background: #f9f9f9;
    
    .main-wrapper {
        margin: 0 auto;
        padding: 99px 0 0;
        background: url('../img/mainbg.png') no-repeat center 0;
    }
}