$naviBackgroundColor:                   #f96332;
$headerBackgroundColor:                 #ec5d2f;
$headerTextColor:                       #fff;
$transparent:                           rgba(0, 0, 0, 0);
$headerLinkActiveBorderColor:           #fff;
$commentBorderColor:                    rgba(0, 0, 0, .05);
$avatarShadowColor:                     #e9e9e9;
$timeColor:                             rgba(0, 0, 0, .5);
$commentsColor:                         rgba(0, 0, 0, .2);
$submitInputBorderColor:                #ff6c39;
$submitBackgroundColor:                 #f96331;
$submitShadowColor:                     rgba(0, 0, 0, .2);
$submitColor:                           #fff;
$footerBackgroundColor:                 #f2f2f2;
$footerMenuColor:                       rgba(0, 0, 0, .3);
