& {
    height: 668px;
    
    .footer-posts__wrapper {
        margin: 0 auto;
    }

    .footer-post {
        width: 445px;
        height: 130px;
        margin: 61px 0 -3px 18px;
    }

    .footer-post--pigbuller .footer-post__slogan {
        margin: 0;
    }

    .footer-post--pigbuller.footer-post {
        margin: 70px 0 0 18px;
    }
    
}