& {
    .footer-post {
        width: 210px;
        height: 210px;
        margin: 97px -2px 0 55px;
    }

    .footer-post--pigbuller.footer-post {
        margin: 91px 0 0 19px;
    }

    .footer-post--pigbuller .footer-post__header {
        margin: 0;
        font-size: 30px;
    }

    .footer-post__header {
        margin: 0 0 7px;
        font-size: 24px;
    }

    .footer-post__text {
        font-size: 16px;
        line-height: 24px;
    }

}