& {
    background: rgba(0, 0, 0, 0);
    
    .slider__iphone {
        display: none;
    }

    .slider__lorem {
        width: 210px;
        margin: 89px 0 0 65px;
    }

    .slider__header {
        font-size: 36px;
    }

    .slider__slogan {
        height: 18px;
        margin: -3px 0 0 -1px;
        font-size: 18px;
    }

    .slider__span {
        display: none;
    }

}