& {
    height: 246px;
    margin: 92px 0 0;
    
    .slider__wrapper {
        margin: 0 auto;
    }

    .slider__iphone {
        height: 304px;
        margin: -9px 32px 0 0;
    }

    .slider__lorem {
        width: 210px;
        margin: 89px 0 0 40px;
    }

    .slider__header {
        font-size: 36px;
    }

    .slider__slogan {
        height: 18px;
        margin: -3px 0 0 -1px;
        font-size: 18px;
    }

    .slider__span {
        display: none;
    }

}