$textColor:                 #fff;
$gradientStart:             #000;
$dGradientStop:             #eb5322;
$mGradientStop:             #ff6a3a;
$inputBackgroundColor:      rgba(255, 255, 255, .1);
$submitBackgroundColor:     #f96332;
