   /*@import 'style.css';*/
   
@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,300,800&subset=latin,cyrillic');

@font-face {
    font-family: 'League Gothic';
    src: url('../fonts/leaguegothic-regular-webfont.woff2') format('woff2'),
         url('../fonts/leaguegothic-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

body {
    background: #999;
}
   
.testimonials {
    margin: 100px 100px;
}

    .testimonials__logo {
        position: absolute;
        margin: 18px 0 0 10px;
    }

    .testimonials__info {
        max-width: 427px;
        height: 272px;
        overflow: hidden;
        margin: 0px 0 0 34px;
        color: #454545;
        background: #fff;
    }

        .testimonials__header {
            margin: 25px 0 0 39px;
            font-family: 'League Gothic', Arial, Helvetica, sans-serif;
            font-size: 30px;
            font-weight: 300;
            text-transform: uppercase;
            text-shadow: 0 1px #fff;
        }

        .testimonials__span {
            color: #edbfff;

        }

        .testimonials__description {
            margin: 7px 30px 0 37px;
            font-family: 'Open Sans', sans-serif;
            font-size: 16px;
            font-weight: 300;
            line-height: 24px;
        }


    .testimonials__triangle {
        margin: 0 0 0 401px;
        width: 0;
        height: 0;
        border-style: solid;
        border-width: 20px 0px 0 20px;
        border-color: #fff rgba(255, 255, 255, 0) rgba(255, 255, 255, 0) rgba(255, 255, 255, 0);
    }

.navi__wrapper {
    width: 960px;
    margin: 655px auto 0;
}
    .navi
    {
        float: right;
        margin: 0 169px 0 0;
    }
    
        .navi__button {
            float: right;
            width: 15px;
            height: 15px;
            margin: 0 0 0 7px;
            cursor: pointer;
            /*border: 3px solid rgba(0, 0, 0, .3);*/
            box-sizing: border-box;
            border-radius: 17px;
            background: rgba(0, 0, 0, .3);
        }
        
        .navi__button--selected {
            background: #fff;
            background: linear-gradient(#d4d4d4 0%, #fff 100%);
            border: 3px solid rgba(0, 0, 0, .5);
        }
        
        .navi__button:hover {
            background: #fff;
            background: linear-gradient(#d4d4d4 0%, #fff 100%);
            border: 3px solid rgba(0, 0, 0, .5);
        }
    
.navi--testimonials.navi {
    float: left;
    margin: 4px 0 0 201px;
}

.navi--testimonials .navi__button {
    margin: 0 0 0 5px;
    width: 17px;
    height: 17px;
    background: #fff;
    border: 1px solid #e6e6e6;
    /*box-sizing: content-box;*/
    box-shadow: 0 1px #fff;
}

.navi--testimonials .navi__button:hover {
    border-width: 2px;
    background: linear-gradient(#6a6a6a 0%, #454545 100%);
}

.navi--testimonials .navi__button--selected {
    border-width: 2px;
    background: linear-gradient(#6a6a6a 0%, #454545 100%);
}
