* {
    margin: 0;
    padding: 0;
}

.wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.wrapper div {
    margin: 0 15px;
    width: 200px;
    padding: 0 15px;
}

.red {
    background: red;
}

.yellow {
    background: yellow;
}

.blue {
    background: blue;
}

.green {
    background: green;
}