@media #{$phoneLandscape} {
    $m: phoneLandscape;

    @import '../mobile';

    div {
        background-position: center;
        background-size: 100%;

        a {
            margin: 5px auto;
        }

        form {
            margin: 0 auto;
        }
    }
}
