& {
    height: 201px;
    background: url('../img/footer768.jpg');
    
    .footer__wrapper {
        padding: 43px 0 0;
    }

    .menu.menu--footer {
        margin: 0 0 0 11px;
    }

    .copy {
        margin: 55px 22px 0 0;
    }

}