& {
    header {
        h2 {
            margin: px(56) px(78) 0;
            color: $headerTextColor;
            font-family: Montserrat;
            font-size: px(44);
            text-align: center;
        }
    }

    main {
        section {
            margin: px(38) auto px(20);

            >div {
                position: relative;
                width: px(240);
                height: px(240);
                margin: 0 auto px(42);

                .photo {
                    position: relative;
                    width: px(240);
                    height: px(240);
                    border-radius: 50%;
                    background-repeat: no-repeat;
                    background-position: center;
                    background-size: cover;
                }

                .icon {
                    position: relative;
                    left: 100%;
                    width: px(66);
                    height: px(66);
                    margin: px(-66) 0 0 px(-66);
                    border: 4px solid $strokeColor;
                    border-radius: 50%;
                    background-repeat: no-repeat;
                    background-position: center;
                }
            }

            h3 {
                margin: 0 px(100) px(28);
                color: $headerTextColor;
                font-family: Montserrat;
                font-size: px(28);
                text-align: center;
            }

            p {
                margin: 0 px(90);
                color: $infoTextColor;
                font-family: robotothin;
                font-size: px(28);
                font-weight: 300;
                text-align: center;
            }
        }
    }

    footer {
        display: flex;
        padding: px(38) px(36) 0;

        button {
            width: px(560);
            margin: 0 auto;
            border: 2px solid $buttonColor;
            border-radius: 20px;
            background-color: $strokeColor;
            color: $buttonColor;
            font-family: Montserrat;
            font-size: px(28);
            font-weight: 700;
            line-height: px(72);
            cursor: pointer;
            
            &:hover {
                outline: 0;
                box-shadow: 0 0 1px 1px $buttonColor;
            }

            &:active {
                outline: 0;
            }

            &:focus {
                outline: 0;
            }
        }
    }
}
